@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 10, 10, 10;
  --background-start-rgb: 100, 200, 150;
  --background-end-rgb: 35, 70, 56;
}

a {
  color: #368369;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 240, 240, 240;
    --background-start-rgb: 32, 67, 54;
    --background-end-rgb: 10, 21, 18;
  }
}
@layer components{
  h1 {
    @apply sm:text-4xl p-2
  }

  h2 {
    @apply sm:text-2xl
  }

  p, input, textarea {
    @apply text-sm
  }

}


body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom, rgb(var(--background-start-rgb)), rgb(var(--background-end-rgb)));
}

input, textarea{
  color: #000
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
}
